.wrapper {
    margin-top: 80px;
    margin-bottom: 20px;
}

.form-signin {
    max-width: 420px;
    padding: 30px 38px 66px;
    margin: 0 auto;
    background-color: #272727;
    border: 3px dotted rgba(0, 0, 0, 0.1);
}

.form-signin-heading {
    text-align: center;
    margin-bottom: 30px;
}

.form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
}

input[type="text"] {
    margin-bottom: 0px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

input[type="password"] {
    margin-bottom: 20px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

#bg {
    position: fixed;
    top: 0;
    left: 0;

    /* Preserve aspet ratio */
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}

body {
    background-color: transparent !important;
    height: 100%;
}

.retro {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    margin: 0 auto;
    border: none;
    font: normal 82px/normal "Anton", Helvetica, sans-serif;
    font-size: 55px;
    color: rgba(255, 255, 255, 1);
    text-align: center;
    text-transform: uppercase;
    -o-text-overflow: clip;
    text-overflow: clip;
    letter-spacing: 10px;
    text-shadow: 4px 4px 0 rgba(58, 58, 58, 1), 6px 6px 0 rgba(35, 35, 35, 1);
}

.whitetext2 {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    border: none;
    font: normal 75px/0 "knewave", Helvetica, sans-serif;
    color: #ffffff;
    text-align: center;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.5);
}

.navbar {
    margin-bottom: 0;
    border-radius: 0;
}

.hometxt {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    border: none;
    font: normal 76px/1 "alfa-slab-one", Helvetica, sans-serif;
    color: #333333;
    text-align: center;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

#contact {
    padding: 10px 0 10px;
}

.contact-text {
    margin: 45px auto;
}

.mail-message-area {
    width: 100%;
    padding: 0 15px;
}

.mail-message {
    width: 100%;
    background: rgba(255, 255, 255, 0.8) !important;
    -webkit-transition: all 0.7s;
    -moz-transition: all 0.7s;
    transition: all 0.7s;
    margin: 0 auto;
    border-radius: 0;
}

.not-visible-message {
    height: 0px;
    opacity: 0;
}

.visible-message {
    height: auto;
    opacity: 1;
    margin: 25px auto 0;
}

/* Input Styles */

.form {
    width: 100%;
    padding: 15px;
    background: #f8f8f8;
    border: 1px solid rgba(0, 0, 0, 0.075);
    margin-bottom: 25px;
    color: #727272 !important;
    font-size: 13px;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.form:hover {
    border: 1px solid #8BC3A3;
}

.form:focus {
    color: white;
    outline: none;
    border: 1px solid #8BC3A3;
}

.textarea {
    height: 200px;
    max-height: 200px;
    max-width: 100%;
}

/* Generic Button Styles */

.button {
    padding: 8px 12px;
    background: #0A5175;
    display: block;
    width: 120px;
    margin: 10px 0 0px 0;
    border-radius: 3px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    text-align: center;
    font-size: 0.8em;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.10);
    -moz-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.10);
    -webkit-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.10);
}

.button:hover {
    background: #8BC3A3;
    color: white;
}

/* Send Button Styles */

.form-btn {
    width: 180px;
    display: block;
    height: auto;
    padding: 15px;
    color: #fff;
    background: #8BC3A3;
    border: none;
    border-radius: 3px;
    outline: none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    margin: auto;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.10);
    -moz-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.10);
    -webkit-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.10);
}

.form-btn:hover {
    background: #111;
    color: white;
    border: none;
}

.form-btn:active {
    opacity: 0.9;
}

center {
    margin-top: 330px;
}

input {
    position: relative;
    z-index: 9999;
}

